<body>

	<h1>Rock, Paper, Scissors</h1>

	<% if @name == "" %>
		<% @name = "Player" %>
	<%  end %>
	<h2>Welcome <%= @name %></h2>
	<p>Select your weapon of choice:</p>
	<form action="/game/result" method="post">
	<input type="radio" name="goodie_choice" value="rock" id="rock">Rock<br>
	<input type="radio" name="goodie_choice" value="paper" id="paper">Paper<br>
	<input type="radio" name="goodie_choice" value="scissors" id="scissors">Scissors<br>
	<input type="submit" value="Fight!">
	</form>
 

</body>