<body>

	<h1>Welcome to the ultimate dispute resolution game</h1>
	<h2>It's time to settle this</h2>
	<form action="/new_game" method="get">
		<input type="submit" name="Start game" value="Start game">
	</form>
	
</body>