<body>

<h1>And the winner is...</h1>

<section class="weapon_choice">

<section class="g_choice">
<%= @g_choice %>
</section>


<section class="b_choice">
<%= @b_choice %>
</section>

</section>

<h4><%= @result %></h4>

</body>
