<body>

<h1>And the winner is...</h1>

<section class="weapon_choice">

<section class="g_choice">
<%= @g_choice %>
</section>


<section class="b_choice">
<%= @b_choice %>
</section>

</section>

<h4><% if @result == "Goodie wins" %>
		<%= @name %> wins!
	<% elsif @result == "Baddie wins" %>
		Computer wins!
	<% else @result == "Draw" %>
		It's a Draw!
	<% end %>
</h4>

<a class="myButton" href="/game">Play again</a>

</body>